.card {

    width: 380px;
    height: 731px;
    top: 799px;
    left: 102px;
    gap: 0px;
    border-radius: 21px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: "manrope";
    margin: 10px;
    width: 300px;
  }

  .card-item {
    position: relative;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }

  .card-time {
    display: flex;
    /* justify-content: center; */
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 63px;
    background-color: #FFD15B;
height: 26px;
padding: 5px 15px 5px 15px;
gap: 10px;
border-radius: 14px ;

  }

  
  .card-time p {
    margin: 0;
    font-size: 12px;
    color: black;
  }
  
  .card-image img {
    width: 380px;
    height: 253px;
    display: block;
    object-fit: cover;
  }
  
  .card-description {
    padding: 16px;
    background-color: #fff;
  }
  
  .card-description h3 {
    font-family: "Anton";
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
  }

  .card-description h4 {
      font-family: "Manrope";
      margin-bottom: 8px;
      font-size: 16px;
      color: #7A7A7A;
      font-size: 12px;
      font-weight: 700;
      line-height: 16.39px;
      letter-spacing: 0.09em;
  }

  .card-description p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  
  .card-ingredients {
    font-family: "manrope";
    margin: 16px 0 0;
    padding: 0;
    list-style: none;
  }
  
  .card-ingredients li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #777;
  }
  
  .card-ingredients li:last-child {
    margin-bottom: 0;
  }

  .card-pt1 {
    margin-bottom: 16px;
  }

  .card-pt2 {
    display: grid;
  }