.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 190px;

}

.searchInputContainer {
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 11px;
}

.searchInput{
    width: 954px;
    height: 72px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 11px;
    /* margin-right: 10px; */
    font-family: "manrope";
    font-size: 16px;
}

.searchInput:focus {
    outline: none; /* Retirer la bordure de focus */
    border: none;  /* Facultatif : si vous avez une bordure visible, vous pouvez aussi la retirer */
  }

.searchIconButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.searchIconButton {
    width: 51px; /* Ajuster la taille du bouton */
    height: 52px;
    background-image: url('/public/assets/Glass.png');
    background-size: cover;
    border: none;
    cursor: pointer;
  }
  
  .searchIconButton:hover {
    background-image: url('/public/assets/GlassVar.png');
  }
  
.clearIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
  }

.clearIcon {
    font-size: 18px;
    color: #888;
    cursor: pointer;
  }