:root {
    --font-primary: "Anton";
    --font-secondary: "Manrope";
}

* {
    font-family: "anton";
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ceci aide à rendre la mise en page plus prévisible */

}